
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <h2>A little more about myself</h2>
      
      <img src="/Assets/images/inndex.jpg" height="400" width="300" style="border:4px solid teal; padding:15px;"  alt="" ALIGN="left"> <pre> Name: Bhagyesh Trusharbhai Bhavsar </pre>
      <pre> <a href="/Assets/images/resume.pdf">Download my resume from here!</a> </pre>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs%> 
<%- include partials/footer.ejs%>