
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <h2>Details to reach me: </h2>
      <p>Email: myemail@gmail.com <br>Phone: +1 123-987-0987</p>
    </div>

    <div class="container">
  <form action="/home">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">India</option>
      <option value="canada">Canada</option>
      <option value="usa">Crotia</option>
    </select>

    <label for="subject">Write your message:</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit Form">

  </form>
</div>
  </main>
  
<%- include partials/bottom_nav.ejs%> 
<%- include partials/footer.ejs%>