
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">Welcome to MY <%= title %> page</h1>
      <pre><h2>Projects List: </h2>
      <h3>1. Bitracker - Chrome Extension</h3> 
      <img src="/Assets/images/bitracker.jpg" height="400" width="400" style="border:4px solid teal; padding:0px;"  ALIGN="left" alt="" >It is a crome extension for the users who are interested in cryptocurrency and trading them on a daily basis. <br>      It updates news for them with over 150 trusted sources so that they don't have to go find out on their own.</pre>
      <pre><h3>2. Cursor Control Library</h3>
      <img src="/Assets/images/Cursor.png" height="400" width="400" style="border:4px solid teal; padding:0px;"  ALIGN="left" alt="" >It is a class extension for a library in C++. To make tools more accessible.</pre>
      <pre><p>3. Ticket management System</p>
      <img src="/Assets/images/bus.jpg" height="400" width="400" style="border:4px solid teal; padding:0px;"  ALIGN="left" alt="" >It is a ticket management system used for various tansits for record and payment purposes.</pre>
      </pre>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs%> 
<%- include partials/footer.ejs%>